@import '@fontsource/k2d/400.css';
@import '@fontsource/k2d/500.css';
@import '@fontsource/k2d/600.css';
@import '@fontsource/k2d/700.css';

@layer theme, base, mantine, components, utilities;

@import "tailwindcss";
@import "@mantine/core/styles.layer.css";